[Desktop Entry]
Name=WallForge
GenericName=Wallpaper Manager
Comment=Modern Pixel Wallpaper Engine & Multi-Source Desktop Background Manager
Exec=wallforge %u
Icon=org.wallforge.app
Terminal=false
Type=Application
Categories=Utility;DesktopSettings;Graphics;2DGraphics;Viewer;
Keywords=wallpaper;background;rice;hyprland;wallhaven;archimg;bing;nasa;desktop;pixel;
StartupNotify=true
StartupWMClass=org.wallforge.app
MimeType=image/jpeg;image/png;image/webp;
Actions=Random;Discover;

[Desktop Action Random]
Name=Apply Random Wallpaper
Exec=wallforge --random

[Desktop Action Discover]
Name=Open Discover
Exec=wallforge --discover
